.review-header{
    color: aliceblue;
    background-color: #ff6b32;
    text-align: center;
    padding: 3rem;
    font-weight: bold;
    .sub{
        font-weight:300;
        padding-top: 1.5rem;
    }
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
